body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* This is going to be our buildling block for the bar charts. Base on this
 * excellent tutorial:
 * http://alignedleft.com/tutorials/d3/drawing-divs
 */
div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;
    background-color: teal;
    margin-right: 2px;
    float: left;
}

/*
 * These are taken from
 * http://alignedleft.com/tutorials/d3/axes
 */
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.y-axis path,
.y-axis line {
    display: none;
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.domain {
    display: none;
}

.axis text {
    font-family: sans-serif;
    font-size: 25;
}

.label text {
    font-family: sans-serif;
    font-size: 18;
}

/**
 * For some reason this selector isn't working.
 * Oh--I think because in svg font-size is an attr not a style.
 */
.title text {
    font-family: sans-serif;
    font-size: 25;
}
